@import url('https://fonts.googleapis.com/css?family=Roboto');

.header {
    position: relative;
    height: 5rem;
    text-align: center;
}

h1 {
    font-family: 'Roboto';
}

.header h1 {
    font-size: 3rem;
    margin: 1rem;
}

.result-container {
    position: fixed;
    min-width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 2px solid;
    border-radius: 3rem;
    background-color: #4f5;

}

.result-container h1 {
    font-size: 5rem;
    margin: 2rem;
}
